# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load 
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])

# Quick look at columns
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
#Quick look at schools tbl
#school_data_df.head()

In [3]:
#Quick look at students tbl
#student_data_df.head()

In [4]:
#What does the data look like
#school_data_complete_df.shape

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [5]:
#District Summary - Quick look
#school_data_complete_df.describe()

In [6]:

#Total Number of Schools - Need a unique
school_count = len(school_data_complete_df["school_name"].unique())

#Total Number of Students - Need a unique
student_count = len(school_data_complete_df["student_name"])

#Total Budget for all schools
total_budget = school_data_complete_df["budget"].sum()

#Average Math Score Mean
math_score_mean = school_data_complete_df["math_score"].mean()

#Total Math scores sum
math_score_sum = school_data_complete_df["math_score"].sum()

#Total Reading scores sum
reading_score_sum = school_data_complete_df["reading_score"].sum()

#Average Reading Score Mean
reading_score_mean = school_data_complete_df["reading_score"].mean()

#Overall passing rate (avg math score + avg reading score)/2
Overall_Pass_Rate = (((math_score_mean/reading_score_mean)/2)*100)

#Passing Rate Math - have to fix formula
pass_rate_math = (math_score_sum/student_count)

#Passing Rate Reading 
pass_rate_reading = (reading_score_sum/student_count)

In [7]:
# Put everything into DataFrame summary table
summary_table = pd.DataFrame({
                              "Total Schools": school_count,
                              "Total Students": [student_count],
                              "Total Budget (Dollars)": [total_budget],
                              "Average Math Score": [math_score_mean],
                              "Average Reading Score": [reading_score_mean],
                              "Overall Pass Rate (Reading and Math) %": [Overall_Pass_Rate],
                              "% Passing Math": [pass_rate_math],
                              "% Passing Reading": [pass_rate_reading]})
                           
summary_table

,Total Schools,Total Students,Total Budget (Dollars),Average Math Score,Average Reading Score,Overall Pass Rate (Reading and Math) %,% Passing Math,% Passing Reading
0,15,39170,82932329558,78.985371,81.87784,48.233668,78.985371,81.87784

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [8]:
school_data_complete_df.groupby('school_name').agg('sum')

#School Name
school_name = school_data_complete_df["school_name"]

#School Type
type = school_data_complete_df["type"]

#budget/Student Count = PPE
ppe = (total_budget/student_count)

In [9]:
summary_table2 = pd.DataFrame({
                              "School Name": [school_name],
                              "School Type": [type],
                              "Total Students": [student_count],
                              "Total School Budget": [total_budget],
                              "Per Student Budget": [ppe],
                              "Average Math Score": [math_score_mean],
                              "Average Reading Score": [reading_score_mean],
                              "Overall Pass Rate %": [Overall_Pass_Rate]})
                           
summary_table2

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Overall Pass Rate %
0,0 Huang High School 1 Huang Hi...,0 District 1 District 2 D...,39170,82932329558,2.117241e+06,78.985371,81.87784,48.233668

In [11]:
b = school_data_complete_df.groupby('school_name').sum()
display (b)

,Student ID,reading_score,math_score,School ID,size,budget
school_name,,,,,,
Bailey High School,101303896,403225,383393,34832,24760576,15549641728
Cabrera High School,31477307,156027,154329,11148,3452164,2009159448
Figueroa High School,12949059,239335,226223,2949,8696601,5557128039
Ford High School,99055935,221164,211184,35607,7502121,4831365924
Griffin High School,19077394,123043,122360,5872,2155024,1346890000
Hernandez High School,46090440,375131,358238,13905,21483225,14007062700
Holden High School,9846620,35789,35784,3416,182329,105933149
Huang High School,4252986,236810,223528,0,8508889,5573322295
Johnson High School,154327815,385481,366942,57132,22667121,14733628650
Pena High School,22851829,80851,80654,8658,925444,563595396
Rodriguez High School,112111965,322898,307294,43989,15992001,10186904637
Shelton High School,11879706,147441,146796,3522,3101121,1860672600
Thomas High School,62705520,137093,136389,22890,2673225,1705517550
Wilson High School,33950493,191748,190115,11415,5212089,3012587442
Wright High School,45243900,151119,150628,18000,3240000,1888920000

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.